<h1>add products</h1>

<form onsubmit="return addInfo()">

    
    <input type="text" name="name" id="nameP" placeholder="name">
    <input type="number" name="price" id="priceP" placeholder="price">
    <input type="text" name="description" id="descriptionP" placeholder="description">
    <input type="number" name="stock" id="stockP" placeholder="stock">
    
    
    <button type="submit" value='save product'>save product</button>

</form>

    <div id='box'>


    </div>

<a href="/api/products">list of products</a>





