
<h1>add products</h1>

<form action="/api/addProducts" method="post">

    <ul>
        <li style="list-style: none;"> name <input type="text" name="name"> </li>
        <li style="list-style: none;"> price <input type="number" name="price"> </li>
        <li style="list-style: none;"> price <input type="number" name="description"> </li>
        <li style="list-style: none;"> price <input type="number" name="stock"> </li>
    </ul>
    
    <button type="submit">save product</button>
</form>

<a href="/api/products">list of products</a>





