<form onsubmit="return addChat()">

    <input type="text" name="nameE" id="nameE" placeholder="EMAIL">
    <input type="text" name="msg" id="msg" placeholder="MESAGGE">

    <button type="submit" value='send message'>send message!</button>

    <div id='boxChat'>


    </div>

</form>

<a href="/api/products">back to products</a>